{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  {% if (error) %}
  <p>username or password fail</p>
  {% endif %}
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        {% if (user) %}
        <a href="/user" class="list-group-item list-group-item-action active" aria-current="true">
          歡迎使用者 {{user}} 登入
        </a>
        <a href="/user/recharge" class="list-group-item list-group-item-action">儲值</a>
        <a href="/user/amount_log" class="list-group-item list-group-item-action">金額紀錄</a>
        <a href="/user/logout" class="list-group-item list-group-item-action">登出</a>
        {% else %}
        <a href="/user/login" class="list-group-item list-group-item-action">登入</a>
        <a href="/user/register" class="list-group-item list-group-item-action">註冊</a>
        {% endif %}
      </div>
    </div>
    <div class="col-sm-9">
        <table class="table">
            <thead>
              房客資訊
                <tr>
                    <th>序號</th>
                    <th>房客名稱</th>
                    <th>通訊號碼</th>
                    <th>備註</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{row['id']}}</td>
                    <td>{{row['itemcode']}}</td>
                    <td>{{row['quantity']}}</td>
                    <td>{{row['price']}}</td>
                </tr>
                {% endfor %}
        </table>
        <div class="col-md-12 text-center">
        <hr/>
            <button type="button" class="btn btn-primary" disabled ><</button>
            <button type="button" class="btn btn-outline-primary" disabled >1</button>
            <button type="button" class="btn btn-outline-primary" disabled >2</button>
            <button type="button" class="btn btn-outline-primary" disabled >3</button>
            <button type="button" class="btn btn-outline-primary" disabled >4</button>
            <button type="button" class="btn btn-outline-primary" disabled >5</button>
            <button type="button" class="btn btn-outline-primary" disabled >6</button>
            <button type="button" class="btn btn-primary" disabled>></button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
