{% extends 'layout.twig' %}
{% block body %}
    <div class="col-sm-9">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>拜訪時間</th>
                    <th>名字</th>
                    <th>身分證</th>
                    <th>拜訪房號</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{row['ID']}}</td>
                    <td>{{row['VDATE']}}</td>
                    <td>{{row['VNAME']}}</td>
                    <td>{{row['IDCARD']}}</td>
                    <td>{{row['VROOM']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="visitors"><div>
{% endblock %}