{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  {% if (error) %}
  <p>username or password fail</p>
  {% endif %}
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        {% if (user) %}
        <a href="/user" class="list-group-item list-group-item-action active" aria-current="true">
          歡迎使用者 {{user}} 登入
        </a>
        <a href="/user/recharge" class="list-group-item list-group-item-action">儲值</a>
        <a href="/user/amount_log" class="list-group-item list-group-item-action">金額紀錄</a>
        <a href="/user/logout" class="list-group-item list-group-item-action">登出</a>
        {% else %}
        <a href="/user/login" class="list-group-item list-group-item-action">登入</a>
        <a href="/user/register" class="list-group-item list-group-item-action">註冊</a>
        {% endif %}
      </div>
    </div>
    <div class="col-sm-9">
        <table class="table">
            <thead>
                <tr>
                    <th>筆數ID</th>
                    <th>消費、儲值金額</th>
                    <th>原始累計金額</th>
                    <th>交易完成時間</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{row['id']}}</td>
                    <td>{{row['amount']}}</td>
                    <td>{{row['origin_amount']}}</td>
                    <td>{{row['create_at']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
{% endblock %}
