{% extends 'layout.twig' %}
{% block body %}
    <div class="col-sm-9">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>房號</th>
                    <th>名字</th>
                    <th>聯絡</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{row['id']}}</td>
                    <td>{{row['itemcode']}}</td>
                    <td>{{row['price']}}</td>
                    <td>{{row['quantity']}}</td>
                    <td><button type="button" id="delete-itemlist-{{row['id']}}" 
                        class="btn btn-outline-danger btn-sm delete-item-button" data-itemid="{{row['id']}}">刪除</button>
                    </td>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="itemlist"><div>
{% endblock %}
